:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  background-color: var(--white-background);
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-class {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  background-color: var(--white-background);
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-logo {
  width: 115px;
  display: flex;
  margin-top: 25.5px;
  margin-right: 76px;
  margin-bottom: 25.5px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.nav-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.navigation-list {
  width: 261px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pressed-state);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

.navigation-link::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.navigation-link.active::after {
  background-color: var(--pressed-state);
}

.address {
  display: flex;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio/hero/studio-hero-img-w1140-h600.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero-button {
  background-color: var(--primary-brand);
  color: var(--white-background);

  min-width: 169px;
  height: 56px;

  display: block;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.advantages-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sub-title-color);
}

.advantages-item {
  flex-basis: calc((100%-24px * 3) / 4);
}

.advantages-icon-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--light);
}

.examples-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.examples-title {
  margin: 0 auto 72px;
}

.examples-container {
  display: flex;
}

.examples-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.examples-item {
  flex-basis: calc((100%-24px * 2) / 3);
}

.team-section {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team-title {
  margin: 0 auto 72px;
  padding-top: 120px;
}

.team-cards-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.team-cards-item {
  background-color: var(--team-cards-item-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-cards-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-cards-wrapper {
  padding: 32px 0;
}

.team-cards-text {
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: transparent;
  border-radius: 50%;
  background-color: var(--primary-brand);
  color: var(--light);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-state);
}

.socials-icon {
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--dark);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 120px;
}

.customers-item {
  width: 168px;
  height: 88px;
  flex-basis: calc((100%-24px * 5) / 6);
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: 1px solid;
  border-color: var(--subtle-text);
  border-radius: 4px;

  background-color: var(--white-background);
  color: var(--subtle-text);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.production-section {
  padding: 96px 0 120px;
}

.filter-container {
  display: flex;
  margin-bottom: 72px;
  align-items: center;
  flex-direction: row;
  margin: 0 auto 72px;
}

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-list:last-child {
  margin-right: 0;
}

.filters-buttons {
  display: flex;
  border: 1px solid var(--accent);
  border-radius: 4px;

  padding: 12px 24px;

  background-color: var(--light);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-buttons:hover,
.filters-buttons:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title {
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.production-section {
  padding: 96px 0 120p;
}

.production-cards-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.production-cards-item {
  background-color: var(--white-background);
  display: block;
  border: 1px solid var(--accent);
  width: calc((100% - 48px) / 3);
}

.production-cards-item:hover .overlay,
.production-cards-item:focus .overlay {
  transform: translateY(0%);
}

.production-cards-link {
  display: block;
  width: 360px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.production-cards-link:hover .overlay-text,
.production-cards-link:focus .overlay-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.production-cards-wrapper {
  width: 100%;
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.production-cards-title {
  margin-bottom: 8px;
}

.production-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-brand);
  mix-blend-mode: normal;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  top: 0;

  padding: 40px 32px;

  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: var(--primary-brand);
  color: var(--light);

  mix-blend-mode: normal;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--dark);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  width: 264px;
  margin-right: 120px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.footer-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light);
}

.footer-socials {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer-socials-text {
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-background);
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 12px;
  border: transparent;
  border-radius: 50%;
  background: var(--primary-brand);
  color: var(--light);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--success);
}

.footer-socials-icons {
  gap: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
 
}

.footer-subscribe-title {
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-background);
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.subscribe-label {
  display: block;
  margin-bottom: 16px;
  
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
   color: var(--white-background);
}

.subscribe-form-field {
  display: block;
  width: 264px;
  height: 40px;

  padding: 8px 16px;

  background-color: var(--dark);
  color: var(--white-background);

  border: 1px solid var(--white-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}



.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 165px;
  height: 40px;

  margin-top: 40px;

  color: var(--white-background);
  background-color: var(--primary-brand);
  border-color: transparent;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;

  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-overlay);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: 72px 24px 24px;

  width: 408px;
  min-height: 576px;
  border-radius: 4px;

  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  opacity: 0;
  transform: translateY(-80%);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--accent);
  color: var(--dark);
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  background-color: var(--pressed-state);
  border: none;
  color: var(--white-background);
}

.modal-close-button:focus {
  background-color: var(--pressed-state);
  border: none;
  color: var(--white-background);
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.modal-form {
}

.form {
}

.form-label {
  display: block;
  margin-bottom: 6px;
  color: var(--subtle-text);
}

.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-field {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:hover,
.form-field:focus {
  border: 1px solid var(--primary-brand);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
  pointer-events: none;
}
.form-field:hover + .form-icon,
.form-field:focus + .form-icon {
  fill: var(--primary-brand);
}

.form-comment {
  padding-left: 16px;
  padding-top: 8px;

  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  width: 100%;
  height: 120px;

  border-radius: 4px;
  resize: none;
}
.form-comment:hover,
.form-comment:focus {
  border: 1px solid var(--primary-brand);
}

.form-agreement {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.form-check-input {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.77941 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.form-check-input:checked {
  background-color: var(--pressed-state);
  color: var(--light);
}

.form-check-input:focus-visible {
  border-color: var(--pressed-state);
}

.agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--dark);
}

.agreement-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}

.modal-send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 169px;
  height: 56px;
  
  margin-left: auto;
  margin-right: auto;


  background-color: var(--primary-brand);
  color: var(--white-background);
  border-color: transparent;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

